* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;

}


.container-flex{
    background-color: rgb(255, 145, 0);
    max-width: 1500px;
    margin:0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: 4rem;
    z-index: 5;
	
}

.sesso-flex,.icone{
    display: flex;
    list-style: none;
}

.logo{
    width: 100px;
    align-self: center;
    }

li{
    padding-right: 10px;
}

a{
    text-decoration: none;
    color: white;
}

body{
    margin-top: 10rem;
}
main{
    max-width: 1500px;
    padding-bottom:30px;
    
}
.container-card{
    
    max-width: 900px;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.percentuale{
    border: 1px solid red;
    background-color: red;
    color: white;
    padding: 2px;
}
.sost{
    border: 1px solid green;
    background-color: green;
    color: white;
    padding: 2px;
}
.heart{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:13px;
    left: 228px;
    padding:2px;
}

.heart2{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:13px;
    left: 553px;
    padding:2px;
}
.heart3{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:13px;
    left: 878px;
    padding:2px;
}

.heart4{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:450px;
    left: 228px;
    padding:2px;
}

.heart5{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:450px;
    left: 553px;
    padding:2px;
}
.heart6{
    border: 1px solid white;
    background-color: white;
    color: black;
    position:absolute;
    top:450px;
    left: 878px;
    padding:2px;
}

.img-uno{
    width: 250px;
    position: relative;
}

.top-img{
    position:absolute;
    top:300px;
}
.top-imgb{
    position:absolute;
    top:750px
}



.bottom-card{
    padding-bottom: 20px;
}

.img-2{
    width: 250px;

}

.img-unoa{
    width: 250px;
    position: absolute;
    top:0;
    left:0;
}
.img-unoa:hover{
    opacity: 0;
}

.img-duea{
    width: 250px;
    position: absolute;
    top:0px;
    left:325px;

}

.img-duea:hover{
    opacity: 0;
}

.img-trea{
    width: 250px;
    position: absolute;
    top:0px;
    left:650px;

}

.img-trea:hover{
    opacity: 0;
}

.img-quattroa{
    width: 250px;
    position: absolute;
    top:440px;
    left:0px;

}

.img-quattroa:hover{
    opacity: 0;
}

.img-cinquea{
    width: 250px;
    position: absolute;
    top:440px;
    left:325px;

}

.img-cinquea:hover{
    opacity: 0;
}

.img-seia{
    width: 250px;
    position: absolute;
    top:440px;
    left:650px;

}

.img-seia:hover{
    opacity: 0;
}

.heart:hover{
    color:red
}

.heart2:hover{
    color:red
}
.heart3:hover{
    color:red
}
.heart4:hover{
    color:red
}
.heart5:hover{
    color:red
}
.heart6:hover{
    color:red
}

.grey{
    color: grey;
}
.red{
    color:red;
    font-weight: bolder;
}
p .sbarr{
    text-decoration: line-through;
    color: black;

}
.grassetto{
    font-weight: bolder;
}
footer{
    max-width: 1500px;
    background-color: black;
    padding-top: 30px;
    padding-bottom: 30px;
}
h2{
    color: white;
}

.container-footer-flex-1{
    width: 900px;
    margin:0 auto;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.footer-flex{
    display: flex;
    list-style: none;
}

